<div>
    <nav class="navbar navbar-expand-sm bg-light">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link text-black" href="/main">Trang chủ</a></li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link text-black" href="/main/san-pham">Sản phẩm</a></li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link text-black" href="/main/danh-muc">Danh mục</a></li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link text-black" href="/main/khac">Others</a></li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link text-black" href="/main/users">Người dùng</a></li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item"><a href="/main/nguoi-dung"><img src="./images/winter-dog.jpg" width="50"
                            height="50" class="rounded-circle" alt=""></a></li>
            </ul>
        </div>
    </nav>

    <div class="container p-5">
        <div>
            
        </div>
    </div>
</div>